<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Harley Davidson Engines</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="popup.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container" ng-app="harleyDavidson" ng-controller="mainController">

	<div class="alert alert-info">
		<p>Sort Type: {{ sortType }}</p>
		<p>Sort Reverse: {{ sortReverse }}</p>
		<p>Search Query: {{ searchEngines }}</p>
	</div>

	<form>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>

				<input type="text" class="form-control" placeholder="Search" ng-model="searchEngines">

			</div>
		</div>
	</form>

	<table class="table table-bordered table-striped">
		
		<thead>
			<tr>
				<td>
					<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
						Engine
						<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'year'; sortReverse = !sortReverse">
						Production Years
						<span ng-show="sortType == 'year' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'year' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'displacement'; sortReverse = !sortReverse">
						Displacement (cc)
						<span ng-show="sortType == 'displacement' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'displacement' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="engine in engines | orderBy:sortType:sortReverse | filter:searchEngines">
				<td>{{ engine.name }}</td>
				<td>{{ engine.year }}</td>
				<td>{{ engine.displacement }}</td>
			</tr>
		</tbody>

	</table>

<div id="blanket" style="display:none"></div>
<div id="popUpDiv" style="display:none">

<a href="#" onclick="popup('popUpDiv')" >Close</a>
</div>
<a href="#" onclick="popup('popUpDiv')">Should I Buy A Japanese Motorcycle?</a>
</div>

</body>
</html>







